<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta name="description" content="" />
<meta name="author" content="" />
<title>Page Title - SB Admin</title>
<link href="/startbootstrap-sb-admin-gh-pages/dist/css/styles.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.min.js" crossorigin="anonymous"></script>
</head>
    <body class="">
        <div id="layoutAuthentication">
            <div id="layoutAuthentication_content">
                <main>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-5">
                                <div class="card shadow-lg border-0 rounded-lg mt-5">
                                    <div class="card-header"><h3 class="text-center font-weight-light my-4">Login</h3></div>
                                    <div class="card-body">
<form id="loginForm" method="post" action="/admin/user/login" hidden>
<input type="text" id="email" name="email" />
<input type="password" id="token" name="token" />
<input type="hidden" th:value="${_csrf.token}" th:name="${_csrf.parameterName}" />
</form>
<a id="gLoginBtn" href="#" class="btn btn-google btn-user btn-block">
  <i class="fab fa-google fa-fw"></i> Login with Google
</a>
                                    </div>
                                    <!--
                                    <div class="card-footer text-center">
                                        <div class="small"><a href="register.html">Need an account? Sign up!</a></div>
                                    </div>
                                    -->
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="/startbootstrap-sb-admin-gh-pages/dist/js/scripts.js"></script>


<!-- Bootstrap core JavaScript-->
<script src="https://apis.google.com/js/api:client.js"></script>

<script type="text/javascript">
//구글 로그인 버튼 커스텀
var startApp = function() {
    gapi.load("auth2", function(){

        var gapiClientId = /*<![CDATA[*/"[[${gapiClientId}]]";/*]]>*/

        auth2 = gapi.auth2.init({
            client_id: gapiClientId,
            cookiepolicy: "single_host_origin"
        });

        attachSignin(document.getElementById('gLoginBtn'));
    });
}();

//구글 로그인 후 처리
function attachSignin(element) {
    auth2.attachClickHandler(element, {},
        function(googleUser) {
	        //로그인 성공 처리
	        var profile = googleUser.getBasicProfile();
	        console.log('ID: ' + profile.getId());
	        console.log('Name: ' + profile.getName());
	        console.log('Image URL: ' + profile.getImageUrl());
	        console.log('Email: ' + profile.getEmail());

	        $("#email").val(profile.getEmail());
	        $("#token").val(googleUser.getAuthResponse().id_token);
	        $("#loginForm").submit();

        }, function(error) {
      	    //로그인 실패 처리
            alert(JSON.stringify(error, undefined, 2));
        }
    );
}
</script>
</body>
</html>