<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta name="description" content="" />
<meta name="author" content="" />
<meta name="_csrf_parameter" th:content="${_csrf.parameterName}" />
<meta name="_csrf_header" th:content="${_csrf.headerName}" />
<meta name="_csrf" th:content="${_csrf.token}" />
<title>Tables - SB Admin</title>
<link href="/startbootstrap-sb-admin-gh-pages/dist/css/styles.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet" crossorigin="anonymous" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.min.js" crossorigin="anonymous"></script>
</head>
<body class="sb-nav-fixed">
<nav th:replace="/admin/comm/innerTop.html :: innerTop"></nav>
<div id="layoutSidenav">
    <!-- 좌측 메뉴 -->
    <div th:replace="/admin/comm/innerLeft.html :: innerLeft"></div>
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid">
                <ol class="breadcrumb mb-4">
                    <li class="breadcrumb-item"><a href="index.html">공통</a></li>
                    <li class="breadcrumb-item active">코드그룹 조회</li>
                </ol>
                <div class="card mb-4">
                    <div class="card-body">
                    <form id="searchFrm">
                        <div class="form-row">
	                        <div class="form-group col-sm-3">
	                            <label for="codeGroupId" class="col-form-label">그룹ID</label>
	                            <input type="text" class="form-control" id="codeGroupId" name="codeGroupId" placeholder="그룹ID" />
	                        </div>
	                        <div class="form-group col-sm-3">
	                            <label for="codeGroupNm" class="col-form-label">그룹명</label>
	                            <input type="text" class="form-control" id="codeGroupNm" name="codeGroupNm" placeholder="그룹명" />
	                        </div>
	                        <div class="form-group col-sm-3">
	                            <label for="useYn" class="col-form-label">사용여부</label>
                                <select class="form-control" id="useYn" name="useYn">
								    <option value="">전체</option>
								    <option value="Y">사용</option>
								    <option value="N">미사용</option>
								</select>
	                        </div>
	                        <div class="form-group col-sm-3">
	                            <label for="delYn" class="col-form-label">삭제여부</label>
                                <select class="form-control" id="delYn" name="delYn">
                                    <option value="">전체</option>
                                    <option value="Y">삭제</option>
                                    <option value="N">미삭제</option>
								</select>
	                        </div>
                        </div>
                        <div class="form-group row text-right">
                            <div class="col-sm-12">
                                <a class="btn btn-primary" href="javascript:search();">조회</a>
                            </div>
                        </div>
                    </form>
                    </div>
                </div>
                <div class="card mb-4">
                    <div class="card-header"><i class="fas fa-table mr-1"></i>코드그룹</div>
                    <div class="card-body">
                        <div id="codeGroupList" class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                <tr>
                                    <th>그룹ID</th>
                                    <th>그룹명</th>
                                    <th>설명</th>
                                    <th>사용여부</th>
                                    <th>삭제여부</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="vo : ${commCodeGroupList}">
                                    <td th:text="${vo.codeGroupId}"></td>
                                    <td th:text="${vo.codeGroupNm}"></td>
                                    <td th:text="${vo.codeGroupDc}"></td>
                                    <td th:text="${vo.useYn}"></td>
                                    <td th:text="${vo.delYn}"></td>
                                </tr>
                                <tr th:if="${#lists.size(commCodeGroupList)} == 0">
                                    <td colspan="5" class="text-center">조회 결과가 없습니다.</td>
                                </tr>
                                </tbody>
                            </table>
                            <div class="dataTables_paginate paging_simple_numbers" id="dataTable_paginate">
                                <ul class="pagination">
                                    <li class="paginate_button page-item previous disabled" id="dataTable_previous" th:classappend="${commCodeGroupVo.firstPageNoOnPageList} == 1 ? null : disabled">
                                        <a href="#" aria-controls="dataTable" data-dt-idx="0" tabindex="0" class="page-link">Previous</a>
                                    </li>
                                    <li class="paginate_button page-item" th:each="idx,iterStat : ${#numbers.sequence(commCodeGroupVo.firstPageNoOnPageList, commCodeGroupVo.lastPageNoOnPageList)}" th:classappend="${commCodeGroupVo.currentPageNo} == ${idx} ? active : null">
                                        <a href="#" tabindex="0" class="page-link" th:onclick="|javascript:getList('${idx}')|" th:text="${idx}"></a>
                                    </li>
                                    <li class="paginate_button page-item next" id="dataTable_next" th:classappend="${commCodeGroupVo.lastPageNoOnPageList} * ${commCodeGroupVo.pageSize} <= ${commCodeGroupVo.totalRecordCount} ? null : disabled">
                                        <a href="#" aria-controls="dataTable" data-dt-idx="7" tabindex="0" class="page-link">Next</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <footer th:replace="/admin/comm/innerFooter.html :: innerFooter"></footer>
    </div>
</div>
<div th:replace="/admin/comm/innerScript.html :: innerScript"></div>
<script type="text/javascript">
function search() {
    $("#codeGroupList").load(
            "/admin/comm/innerCommCodeGroupList"
          , $("#searchFrm").serialize()
    );
}

function getList(pageNo) {
    $("#codeGroupList").load(
     	  "/admin/comm/innerCommCodeGroupList"
    	, { "currentPageNo" : pageNo }
    );
}

function getPrevPage(pageNo) {
	pageNo = (pageNo/10) * 10 - 10;
    getList(pageNo);
}

function getNextPage(pageNo) {
	pageNo = (pageNo/10) * 10 + 11;
    getList(pageNo);
}

function goUpdateForm() {

}

$(function() {
    //Spring Security csrf 관련 설정
    var token  = $("meta[name='_csrf']").attr("content");
    var header = $("meta[name='_csrf_header']").attr("content");

    $(document).ajaxSend(function(e, xhr, options) {
        if(token && header) {
            xhr.setRequestHeader(header, token);
        }
    });
});
</script>
</body>
</html>
