<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <settings>
        <!-- 컴럼명을 Camel 표기법으로 자동 매핑 설정 -->
        <setting name="mapUnderscoreToCamelCase" value="true" />
    </settings>

    <mappers>
        <!-- 스케줄러 -->
        <mapper resource="mapper/scheduler/StockDealRank.xml" />

        <!-- 프론트 -->

        <!-- 어드민 -->
        <mapper resource="mapper/CommCodeAdm.xml" />
        <mapper resource="mapper/UserAdm.xml" />
<!--         <mapper resource="mapper/NewsAdm.xml" /> -->
<!--         <mapper resource="mapper/NewsRssAdm.xml" /> -->
    </mappers>
</configuration>